<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->

<%= partial "layouts/header" %>

<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
<p><%= flat.name %></p>
<h1><%= flat.description %></h1>
<p><%= flat.city_name %></p>
